#GithubIcon{
    visibility: hidden;
}

.st-key-container_1{
    background-color: rgb(63, 131, 148);
    border: outset ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.h1_header_lanc{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 3px 2px #131312;
}

.h5_header_lanc{
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
    text-shadow: 2px 3px 2px #131312;
}

.st-key-container_1_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_1_2_select_ano{
    width: 50%;
    
}

.st-key-container_1_2_select_mes{
    width: 50%;
}

.st-key-container_2{
    background-color: rgb(63, 131, 148);
    border: outset ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.st-key-container_2_0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_4{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.st-key-container_2_5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-input_2_5{
    width: 100%;
}

.st-key-container_2_6{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}


.st-key-container_2_7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_9{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.st-key-container_2_10{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.st-key-container_2_11{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
