.st-key-container_um{
    vertical-align: top;
    text-align: center;
}

.st-key-container_dois{
    background-color: rgb(0, 100, 148);
    border-radius: 5px;
    padding: 5px;
}

.st-key-container_tres{
    background-color: rgb(0, 100, 148);
    border-radius: 5px;
    padding: 5px;
}

.st-key-container_tres_dois{
    background-color: rgb(0, 100, 148);
    border-radius: 5px;
    padding: 5px;
}

